button[type=submit] {
    border: none;
    background-color: #04AA6D;
    color: #fff;
    padding: 14px 20px;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    cursor: pointer;
}